<ion-header>
  <ion-navbar>
    <ion-title>Alimentos</ion-title>
    <ion-buttons end>
      <button ion-button (click)="newAlimento()" *ngIf="!mIsModal">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let alimento of mAlimentos | indexed : mFilter"
      (click)="selectAlimento(alimento.getId())">
      <h2>{{alimento.mNome}}</h2>
      <p>{{alimento.mTipo}}</p>
    </button>
  </ion-list>
</ion-content>
<page-run *ngIf="!mIsModal"></page-run>
