<ion-header>
  <ion-navbar>
    <ion-title>Alimentos</ion-title>
    <ion-buttons end>
      <button ion-button (click)="newAlimento()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchCtrl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <button ion-item *ngFor="let alimento of alimentos" (click)="selectAlimento()">
      <h2>{{alimento.nome}}</h2>
      <p>{{alimento.tipo}}</p>
    </button>
  </ion-list>
</ion-content>
