<ion-header>
  <ion-navbar>
    <ion-title>Resultado</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="list-header">DETALHES</ion-list-header>
    <ion-item>
      <ion-label color="primary">Lucro:</ion-label>
      <ion-input readonly="true" value="{{mResultado.mLucro | currency: 'BRL'}}"></ion-input>
    </ion-item>
    <ion-list-header class="list-header">QUANTIDADE DE RECEITAS</ion-list-header>
    <ion-item *ngFor="let quantidade of mResultado.mQuantidades">
      <h2>{{getNomeOfReceita(quantidade.mId)}}</h2>
      <ion-note color="primary" item-end>{{quantidade.mQuantidade}}</ion-note>
      <p>{{getAlimentosTextOfReceita(quantidade.mId)}}</p>
    </ion-item>
    <ion-list-header class="list-header">RESTOS NÃO APROVEITADOS</ion-list-header>
    <ion-item *ngFor="let sobra of mResultado.mSobras">
      <h2>{{getNomeOfAlimento(sobra.mId)}}</h2>
      <ion-note color="primary" item-end>{{sobra.mQuantidade}}g</ion-note>
    </ion-item>
  </ion-list>
</ion-content>