page-quantidades {
  .label-right {
    order: 2;
    padding: 0 0 0 0 !important;
    margin: 0 2px 0 2px !important;
    border: 0 0 0 0 !important;
  }
  .value-selector {
    max-width: 30% !important;
    padding-top: 0 !important;
    margin: 0 0 0 0 !important;
    border: 0 0 0 0 !important;
  }
  .list-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}