<ion-header>
  <ion-navbar>
    <ion-title>Receitas</ion-title>
    <ion-buttons end>
      <button ion-button (click)="newReceita()" *ngIf="!mIsModal">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let receita of mReceitas | indexed : mFilter"
      (click)="selectReceita(receita.getId())">
      <h2>{{receita.mNome}}</h2>
      <p>{{getAlimentosTextOfReceita(receita.getId())}}</p>
    </button>
  </ion-list>
</ion-content>
<page-run *ngIf="!mIsModal"></page-run>